**Introduction**

**Independent project - Week 4**

**Task**
In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time.

The question for consideration:

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

**Dataset provided:**

**Autolib dataset**: "/content/Autolib_dataset (2).csv"

# Importing our dataset

In [0]:
# Importing pandas and numpy libraries

import pandas as pd

import numpy as np

# Loading our datasets

In [2]:
# Loading our dataset
url = "/content/Autolib_dataset (2).csv"
df = pd.read_csv(url)
df.head()
# preview the first 5 rows
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# Exploration

In [6]:
# Displaying our dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Data Cleaning

**1. Validity**

In [136]:
# Dropping unecessary columns
df = pd.read_csv(url, index_col ="Address")
df.drop(["Displayed comment", "Geo point","Scheduled at"], axis = 1, inplace = True) 
# Displaying the first 5 rows
df.head(5)

                                    Cars  Bluecar counter  ...  hour  minute
Address                                                    ...
2 Avenue de Suffren                    0                0  ...    11      43
145 Rue Raymond Losserand              6                6  ...     7      24
2 Avenue John Fitzgerald Kennedy       3                3  ...    20      14
51 Rue EugÃ¨ne OudinÃ©                 3                3  ...     4      37
6 avenue de la Porte de Champerret     3                3  ...    17      23

[5 rows x 21 columns]

In [78]:
# Checking for missing
df.isnull().values.any()
# Dropping scheduled at colunm;It has too many null values
# df.drop('Scheduled at', axis = 1, inplace = True)

False

In [80]:
# Checking the dataset information
df.head(5)

                                    Cars  Bluecar counter  ...  hour  minute
Address                                                    ...
2 Avenue de Suffren                    0                0  ...    11      43
145 Rue Raymond Losserand              6                6  ...     7      24
2 Avenue John Fitzgerald Kennedy       3                3  ...    20      14
51 Rue EugÃ¨ne OudinÃ©                 3                3  ...     4      37
6 avenue de la Porte de Champerret     3                3  ...    17      23

[5 rows x 21 columns]

In [7]:
# Dropping rental spaces that are non existent and broken
df_ops = df[df['Rental status'] != 'operational'].index
df.drop(df_ops,inplace= True)
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

# Analysis

In [24]:
# Question 1.1
# Identify the most popular hour of the day for picking up a 
# shared electric car (Bluecar) in the city of Paris over the month of April 2018.
df[(df["City"]== "Paris") & (df["Bluecar counter"] == 0)].groupby(["hour"])["hour"].count().sort_values(ascending = False).head(4)

hour
23    42
2     42
16    42
8     41
Name: hour, dtype: int64

In [29]:
# Question 1.2
# Identify the most popular hour of the day for picking up a 
# shared electric car (Utilib) in the city of Paris over the month of April 2018.
df[(df["City"]== "Paris") & (df["Utilib counter"] == 0)].groupby(["hour"])["hour"].count().sort_values(ascending = False).head(4)

hour
21    125
16    116
8     111
9     109
Name: hour, dtype: int64

In [30]:
# Question 1.3
# Identify the most popular hour of the day for picking up a 
# shared electric car (Utilib 1.4) in the city of Paris over the month of April 2018.
df[(df["City"]== "Paris") & (df["Utilib 1.4 counter"] == 0)].groupby(["hour"])["hour"].count().sort_values(ascending = False).head(4)

hour
21    114
8     112
16    107
6     105
Name: hour, dtype: int64

In [45]:
# Question 2
# What is the most popular hour for returning cars
# When the slots are fully utilized
df[(df["Slots"]== 7)].groupby("hour")["Slots"].count().sort_values(ascending = False).head(3)

hour
14    3
23    2
8     2
Name: Slots, dtype: int64

In [44]:
# Question 3
# What station is the most popular?
# Overall
df.groupby(['Public name', 'Address',"City"])['Public name'].count().sort_values(ascending = False).head(4)

Public name                 Address                            City
Paris/Porte de Montrouge/8  8 Avenue de la Porte de Montrouge  Paris      13
Paris/Mathis/35             35 rue Mathis                      Paris      11
SÃ¨vres/WolfenbÃ¼ttel/1     1 Rue de WolfenbÃ¼ttel             SÃ¨vres    11
Paris/Voltaire/182          182 Boulevard Voltaire             Paris      11
Name: Public name, dtype: int64

In [42]:
# Question 3.1
# At the most popular hour
df.groupby(['Public name', 'Address',"hour", "City"])['hour'].count().sort_values(ascending = False).head(1)

Public name       Address            hour  City
Paris/Paradis/28  28 Rue de Paradis  20    Paris    4
Name: hour, dtype: int64

In [155]:
# Question 4
# What postal code is the most popular for picking up Blue cars? 
df.groupby(['Postal code', "Bluecar counter"])['Postal code'].count().sort_values(ascending = False).head(1)

Postal code  Bluecar counter
75008        0                  94
Name: Postal code, dtype: int64

In [47]:
# Does the most popular station belong to that postal code?
df.groupby(['Postal code',"Public name", "Bluecar counter"])['Public name'].count().sort_values(ascending = False).head(1)

Postal code  Public name      Bluecar counter
75008        Paris/Astorg/11  0                  7
Name: Public name, dtype: int64

In [48]:
# At the most popular picking hour?
df.groupby(["Postal code",'ID', 'Public name',"hour", "City"])['hour'].count().sort_values(ascending = False).head(1)

Postal code  ID                 Public name        hour  City
75008        paris-tronchet-19  Paris/Tronchet/19  21    Paris    4
Name: hour, dtype: int64

In [14]:
# Question 5
# Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
# 1.What postal code is the most popular for picking up Utilib and Utilib 1.4? 
# Utilib
df.groupby(['Postal code', "Utilib counter"])['Postal code'].count().sort_values(ascending = False).head(1)
# Utilib 1.4
df.groupby(['Postal code', "Utilib 1.4 counter"])['Postal code'].count().sort_values(ascending = False).head(1)

Postal code  Utilib 1.4 counter
75015        0                     220
Name: Postal code, dtype: int64

In [15]:
# Does the most popular station belong to that postal code?
# Utilib
df.groupby(['Postal code',"ID", "Utilib counter"])['ID'].count().sort_values(ascending = False).head(1)
# Utilib 1.4
df.groupby(['Postal code',"ID", "Utilib 1.4 counter"])['ID'].count().sort_values(ascending = False).head(1)

Postal code  ID                  Utilib 1.4 counter
75011        paris-voltaire-182  0                     11
Name: ID, dtype: int64

In [164]:
# At the most popular picking hour?
# Utilib
df.groupby(['Postal code',"ID", "Utilib counter"])['hour'].count().sort_values(ascending = False).head(1)
# Utilib 1.4
df.groupby(['Postal code',"ID", "Utilib 1.4 counter"])['hour'].count().sort_values(ascending = False).head(1)

Postal code  ID                  Utilib 1.4 counter
75011        paris-voltaire-182  0                     11
Name: hour, dtype: int64

In [17]:
# Question 6
# Identify the most popular hour of the day for picking up 
# all cars in all cities over the month of April 2018.
df[(df["Bluecar counter"]== 0) & (df["Utilib 1.4 counter"] == 0) & (df["Utilib counter"] == 0)].groupby("hour")["hour"].count().sort_values(ascending = False).head(1)

hour
14    50
Name: hour, dtype: int64

In [19]:
# Question 7
# Identify the three most popular city with rental space that is operational
df.groupby(["City","Rental status"])["City"].count().sort_values(ascending = False).head(3)

City                 Rental status
Paris                operational      2629
Nanterre             operational       125
Issy-les-Moulineaux  operational        96
Name: City, dtype: int64

In [27]:
# Question 8
# Identify the most popular hour of the day for picking up 
# all cars in Paris over the month of April 2018.
df[(df["Bluecar counter"]== 0) & (df["Utilib 1.4 counter"] == 0) & (df["Utilib counter"] == 0) & (df["City"] == "Paris")].groupby("hour")["hour"].count().sort_values(ascending = False).head(3)

hour
2     41
23    40
3     39
Name: hour, dtype: int64